<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Change Price</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/employee/home">ReThink</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/employee/stock">Stock <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/employee/supplier/products">Supplier</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/employee/statistics">Statistics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/employee/deliveries">Deliveries</a>
                </li>

            </ul>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <% if(!currentUser) {%>
                        <li class="nav-item">
                            <a class="nav-link" href="/employee/login">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/employee/register">Register</a>
                        </li>
                        <% } else {%>
                            <li class="nav-item">
                                <a class="nav-link" href="/employee/logout">Log Out</a>
                            </li>
                            <% } %>

                </ul>
            </div>
        </div>
    </nav>
    <div class="container d-flex justify-content-center mt-3">
        <div class="row">
            <div class="col">
                <form action="/employee/<%= product._id %>/changeprice" method="POST">
                    <label for="quantity">Choose new price (in cents): </label>
                    <input type="number" id="quantity" name="newPrice" min="1" max="500">
                    <button class="btn btn-lg btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>