/* Some styles for the home page */

body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://wallpaperaccess.com/full/1624847.jpg");
    background-size: cover;
    background-position: center;
}