/* Some styles for the employee home page */

body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://wallpaperaccess.com/full/2132976.jpg");
    background-size: cover;
    background-position: center;
}